{{ ansible_managed | comment }}
{{ squid_log_dir }}/*.log {
    daily
    compress
    delaycompress
    rotate {{ squid_logrotate_days }}
    missingok
    nocreate
    create 0640 root squuid
    datext
    dateformat _%Y%m%d
    sharedscripts
    postrotate
      /usr/sbin/squid -k rotate 2>/dev/null
    endscript
}
